.topper .topper__logo, .qsearch .qsearch__logo { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #333; font-family: "Lucida Sans", "Myriad Pro",sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; overflow: hidden; }

@font-face { font-family: 'cpmono'; src: url("fonts/cpmono_v07_plain-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

a img, fieldset { border: none; }

.popup .button { color: #cbcbcb; font-size: 12px; text-shadow: 0 -1px 1px black; height: 23px; line-height: 24px; display: inline-block; padding: 0 10px; border: 1px solid #000; cursor: pointer; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #717171), color-stop(100%, #282828)); background-image: -webkit-linear-gradient(bottom, #717171 0%, #282828 100%); background-image: -moz-linear-gradient(bottom, #717171 0%, #282828 100%); background-image: -o-linear-gradient(bottom, #717171 0%, #282828 100%); background-image: -ms-linear-gradient(bottom, #717171 0%, #282828 100%); background-image: linear-gradient(bottom, #717171 0%, #282828 100%); }
.popup .button:hover { background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #585858), color-stop(100%, #0e0e0e)); background-image: -webkit-linear-gradient(bottom, #585858 0%, #0e0e0e 100%); background-image: -moz-linear-gradient(bottom, #585858 0%, #0e0e0e 100%); background-image: -o-linear-gradient(bottom, #585858 0%, #0e0e0e 100%); background-image: -ms-linear-gradient(bottom, #585858 0%, #0e0e0e 100%); background-image: linear-gradient(bottom, #585858 0%, #0e0e0e 100%); }
.popup .button:active { background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #282828), color-stop(100%, #717171)); background-image: -webkit-linear-gradient(bottom, #282828 0%, #717171 100%); background-image: -moz-linear-gradient(bottom, #282828 0%, #717171 100%); background-image: -o-linear-gradient(bottom, #282828 0%, #717171 100%); background-image: -ms-linear-gradient(bottom, #282828 0%, #717171 100%); background-image: linear-gradient(bottom, #282828 0%, #717171 100%); }

.icon-online, .icon-offline { height: 8px; width: 8px; border-radius: 8px; background: #8fc547; display: inline-block; margin-left: 3px; }

.icon-offline { background: #898989; }

.topper .topper__logo, .qsearch .qsearch__logo { font: 0/0 a; text-shadow: none; color: transparent; }

.topper { overflow: hidden; width: 100%; background-color: #212121; border-bottom: 1px solid #000; height: 40px; line-height: 40px; color: #777; }
.topper a { text-decoration: none; text-shadow: 0 1px 0 #000; color: #777; }
.topper a:hover { color: #2f669f; }
.topper.topper_withlogo { height: 33px; line-height: 33px; border-style: none; }
.topper .topper__logo { float: left; background: url('../img/queue-s00208e3dc8.png') 0 0 no-repeat; width: 100px; height: 20px; margin-left: 10px; margin-top: 6px; margin-right: 29px; cursor: pointer; }

.topper__nav { float: left; margin-left: 15px; }
.topper__nav li { display: inline; margin-right: 8px; }

.profile { float: right; margin-right: 17px; }
.profile .profile__user, .profile .profile__logout { display: inline-block; }
.profile .profile__user { font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; margin-right: 5px; }
.profile .profile__user a { color: #fff; }
.profile .profile__user a:hover { color: #2f669f; }

.topper .topper__logo, .qsearch .qsearch__logo { font: 0/0 a; text-shadow: none; color: transparent; }

body { overflow: auto; background: #303033; }

.is-hidden { display: none; }

.is-fixed { position: fixed; top: 0; right: 0; left: 12px; }

.qsearch { margin-bottom: 20px; background: #181819; border-bottom: 3px solid #000; height: 66px; position: relative; box-shadow: inset 0 20px 20px -10px rgba(0, 0, 0, 0.9); }
.qsearch .qsearch__logo { background: url('../img/queue-s00208e3dc8.png') 0 -30px no-repeat; width: 80px; height: 23px; position: absolute; left: 10px; top: 10px; }
.qsearch .qsearch__selectall { position: absolute; bottom: 10px; left: 12px; cursor: pointer; font-size: 12px; color: #777; }
.qsearch .qsearch__selectall i { display: inline-block; margin-right: 8px; background: url('../img/queue-s00208e3dc8.png') 0 -299px no-repeat; width: 15px; height: 15px; vertical-align: middle; position: relative; }
.qsearch .qsearch__selectall input { display: none; }
.qsearch .qsearch__selectall input:checked + i b { background: url('../img/queue-s00208e3dc8.png') 0 -88px no-repeat; width: 14px; height: 12px; top: 2px; left: 0px; position: absolute; }
.qsearch .qsearch__selectall span { vertical-align: middle; }
.qsearch .qsearch__results { font-size: 9px; position: absolute; bottom: 11px; left: 110px; color: #777; }
.qsearch .viewtype { position: absolute; left: 110px; top: 12px; height: 18px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #343434), color-stop(100%, #1d1d1e)); background-image: -webkit-linear-gradient(top, #343434 0%, #1d1d1e 100%); background-image: -moz-linear-gradient(top, #343434 0%, #1d1d1e 100%); background-image: -o-linear-gradient(top, #343434 0%, #1d1d1e 100%); background-image: -ms-linear-gradient(top, #343434 0%, #1d1d1e 100%); background-image: linear-gradient(top, #343434 0%, #1d1d1e 100%); border: 1px solid #000; border-radius: 4px; }
.qsearch .viewtype div { float: left; border-right: 1px solid #000; width: 33px; cursor: pointer; text-align: center; }
.qsearch .viewtype div i { display: inline-block; position: relative; top: 2px; }
.qsearch .viewtype div:hover, .qsearch .viewtype div.is-active { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1d1d1e), color-stop(100%, #343434)); background-image: -webkit-linear-gradient(top, #1d1d1e 0%, #343434 100%); background-image: -moz-linear-gradient(top, #1d1d1e 0%, #343434 100%); background-image: -o-linear-gradient(top, #1d1d1e 0%, #343434 100%); background-image: -ms-linear-gradient(top, #1d1d1e 0%, #343434 100%); background-image: linear-gradient(top, #1d1d1e 0%, #343434 100%); }
.qsearch .viewtype div:last-child { border-style: none; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.qsearch .viewtype div:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.qsearch .viewtype div.viewtype__tree i { background: url('../img/queue-s00208e3dc8.png') 0 -389px no-repeat; width: 16px; height: 10px; }
.qsearch .viewtype div.viewtype__grid i { background: url('../img/queue-s00208e3dc8.png') 0 -409px no-repeat; width: 19px; height: 9px; }
.qsearch .viewtype div.viewtype__list i { background: url('../img/queue-s00208e3dc8.png') 0 -428px no-repeat; width: 14px; height: 11px; }
.qsearch .qsearch__input { position: absolute; right: 16px; top: 11px; left: 230px; }
.qsearch .qsearch__input input { width: 100%; }
.qsearch .qsearch__filter { list-style: none; position: absolute; bottom: 6px; left: 230px; }
.qsearch .qsearch__filter li { float: left; }
.qsearch .qsearch__filter a { float: left; height: 19px; line-height: 19px; text-transform: uppercase; color: #777; text-decoration: none; padding: 0 24px; border: 1px solid transparent; }
.qsearch .qsearch__filter a:hover, .qsearch .qsearch__filter a.is-active { color: #CCCCCC; border: 1px solid #0D0D0E; border-radius: 4px; background: #212123; box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5); }
.qsearch .qsearch__arrange { position: absolute; bottom: 8px; right: 100px; cursor: pointer; }
.qsearch .qsearch__arrange span { font-size: 12px; font-family: Tahoma,sans-serif; color: #777; border-bottom: 1px dotted #777; }
.qsearch .qsearch__arrange i { background: url('../img/queue-s00208e3dc8.png') 0 -449px no-repeat; width: 6px; height: 6px; display: inline-block; }
.qsearch .qsearch__arrange select { -webkit-appearance: none; height: 100%; width: 100%; position: absolute; left: 0; top: 0; opacity: 0; }
.qsearch .qsearch__settings { position: absolute; bottom: 7px; right: 16px; }
.qsearch .qsearch__settings .qsearch__settingsicon { display: inline-block; background: url('../img/queue-s00208e3dc8.png') 0 -369px no-repeat; width: 10px; height: 10px; cursor: pointer; }

.title .title__collapse, .season .season__collapse, .episode .season__collapse, .episode .episode__collapse { position: absolute; right: 15px; cursor: pointer; color: #777; text-decoration: underline; font-size: 11px; line-height: 1; font-family: Tahoma,sans-serif; padding-left: 14px; }
.title .title__collapse i, .season .season__collapse i, .episode .season__collapse i, .episode .episode__collapse i { background: url('../img/queue-s00208e3dc8.png') 0 -254px no-repeat; width: 9px; height: 9px; position: absolute; left: 0px; top: 2px; }
.title .is-collapsed.title__collapse i, .season .is-collapsed.season__collapse i, .episode .is-collapsed.season__collapse i, .episode .is-collapsed.episode__collapse i { background: url('../img/queue-s00208e3dc8.png') 0 -465px no-repeat; width: 9px; height: 9px; }

.title { border-bottom: 3px solid #000000; margin-left: 12px; margin-bottom: 15px; }
.title .title__header { height: 50px; position: relative; line-height: 50px; }
.title .title__title { display: inline-block; vertical-align: middle; margin-right: 50px; cursor: pointer; }
.title .title__title span { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75); font-family: 'LucidaSans-Demi', Arial, "Helvetica CY",  sans-serif; color: #F7F7F7; -webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(255, 255, 255, 0.6) 70%); font-size: 19px; }
.title .title__title i { display: inline-block; margin-right: 8px; background: url('../img/queue-s00208e3dc8.png') 0 -299px no-repeat; width: 15px; height: 15px; position: relative; }
.title .title__title input { display: none; }
.title .title__title input:checked + i b { background: url('../img/queue-s00208e3dc8.png') 0 -88px no-repeat; width: 14px; height: 12px; top: 2px; left: 0px; position: absolute; }
.title .title__collapse { top: 20px; }
.title .title__status { list-style: none; display: inline-block; white-space: nowrap; color: #ccc; }
.title .title__status li { display: inline-block; margin-right: 23px; }
.title .title__status li strong { text-transform: uppercase; color: #777; font-weight: normal; }

.alpha { background: #FAFAFA; border-left: 1px solid #181819; }
.alpha .alpha__meta { position: relative; }
.alpha .alpha__filmstrip { height: 78px; }
.alpha .alpha__filmstrip img { display: block; width: 100%; height: 78px; }
.alpha .alpha__props { position: absolute; bottom: 0; list-style: none; padding-left: 152px; right: 0; left: 0; box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.8); background: rgba(0, 0, 0, 0.8); }
.alpha .alpha__props li { display: inline-block; color: #fff; font-size: 10px; margin-right: 24px; height: 22px; line-height: 22px; display: inline-block; }
.alpha .alpha__props li strong { color: #aaa; font-weight: normal; text-transform: uppercase; }
.alpha .select { display: inline-block; position: relative; }
.alpha .select select { -webkit-appearance: none; position: absolute; left: 0; width: 100%; top: 0; opacity: 0; }
.alpha .alpha__type { z-index: 20; cursor: pointer; color: #fff; text-transform: uppercase; font-size: 12px; text-shadow: 0 -1px 1px black; position: absolute; left: -10px; bottom: -6px; height: 26px; line-height: 26px; -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6); background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008bad), color-stop(100%, #00628b)); background-image: -webkit-linear-gradient(top, #008bad 0%, #00628b 100%); background-image: -moz-linear-gradient(top, #008bad 0%, #00628b 100%); background-image: -o-linear-gradient(top, #008bad 0%, #00628b 100%); background-image: -ms-linear-gradient(top, #008bad 0%, #00628b 100%); background-image: linear-gradient(top, #008bad 0%, #00628b 100%); border: 1px solid rgba(255, 255, 255, 0.2); border-top: 1px solid #42A3BF; -webkit-background-clip: border; -moz-background-clip: border; background-clip: border-box; padding: 0 9px 0 8px; }
.alpha .alpha__type i { display: inline-block; margin-right: 9px; width: 13px; height: 13px; border: 1px solid #00316d; -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7); -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.7); vertical-align: middle; position: relative; top: -1px; }
.alpha .alpha__type input { display: none; }
.alpha .alpha__type input:checked + i b { background: url('../img/queue-s00208e3dc8.png') 0 -88px no-repeat; width: 14px; height: 12px; top: 2px; left: 0px; position: absolute; }
.alpha .alpha__type span { vertical-align: middle; display: inline-block; height: 26px; line-height: 26px; position: relative; top: -1px; }
.alpha .alpha__type:before { content: ' '; position: absolute; bottom: -10px; left: 0; background: url('../img/queue-s00208e3dc8.png') 0 -133px no-repeat; width: 9px; height: 9px; }
.alpha .alpha__info { background: #D7D7D7; padding: 18px 0 10px 0px; overflow: hidden; background-image: -webkit-gradient(linear, 50% 0%, 50% 60, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -moz-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -o-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -ms-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); -moz-background-size: 50px 50px 100%; -webkit-background-size: 50px 50px 100%; background-size: 50px 50px 100%; box-shadow: inset 0 -40px 40px -20px rgba(0, 0, 0, 0.3); }
.alpha .media { float: left; width: 33%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 10px; }
.alpha .media h2 { font-size: 10px; color: #777; text-transform: uppercase; margin-bottom: 4px; }
.alpha .media h2 i { display: inline-block; vertical-align: middle; margin-right: 4px; }
.alpha .media.media_video h2 i { background: url('../img/queue-s00208e3dc8.png') 0 -324px no-repeat; width: 12px; height: 14px; }
.alpha .media.media_audio h2 i { background: url('../img/queue-s00208e3dc8.png') 0 -273px no-repeat; width: 12px; height: 16px; }
.alpha .media.media_text h2 i { background: url('../img/queue-s00208e3dc8.png') 0 -348px no-repeat; width: 14px; height: 11px; }
.alpha .media.media_text h2 i { position: relative; top: -2px; }

.nocontent { font-family: 'cpmono',monospace; color: #939393; font-size: 19px; font-weight: normal; }

.track { margin-bottom: 11px; }
.track .track__title { font-size: 19px; font-family: "cpmono",monospace; color: #252525; display: inline-block; margin-right: 14px; }
.track .track__info { display: inline-block; font-size: 13px; }
.track .track__info span { margin-right: 8px; }
.track .track__info .track__comments { font-size: 10px; text-decoration: none; color: #252525; }
.track .track__info .track__comments i { background: url('../img/queue-s00208e3dc8.png') 0 -233px no-repeat; width: 12px; height: 11px; display: inline-block; margin-right: 3px; position: relative; top: 2px; }
.track .track__rawtitle { display: block; font-size: 9px; color: #777; line-height: 1; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; margin-top: -1px; margin-bottom: 2px; }
.track .track__history { list-style: none; margin: 7px 0 0 0; color: #333; font-size: 10px; }
.track .track__history li { height: 16px; line-height: 16px; margin-bottom: 2px; background: #ccc; padding-left: 11px; position: relative; margin-left: 8px; cursor: pointer; }
.track .track__history li:before { position: absolute; content: ' '; left: -8px; top: 0; background: url('../img/queue-s00208e3dc8.png') 0 -171px no-repeat; width: 8px; height: 16px; }
.track .track__history li .track__added, .track .track__history li .track__edited { display: inline-block; position: absolute; top: 4px; left: -1px; }
.track .track__history li .track__added { background: url('../img/queue-s00208e3dc8.png') 0 -215px no-repeat; width: 8px; height: 8px; }
.track .track__history li .track__edited { background: url('../img/queue-s00208e3dc8.png') 0 -197px no-repeat; width: 8px; height: 8px; left: 0; }
.track .track__moar { padding-top: 6px; border-top: 1px solid #EDEDED; box-shadow: 0 -1px 0 #acacac; margin-top: 20px; }
.track .track__moar table { width: 100%; border-spacing: 0; border-collapse: collapse; }
.track .track__moar table td, .track .track__moar table th { padding: 5px 0 5px 0; }
.track .track__moar table th { font-size: 11px; font-weight: normal; text-align: left; color: #777; white-space: nowrap; padding-right: 20px; vertical-align: top; }
.track .track__moar table td { font-size: 12px; color: #363636; -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.track .track__moar table td small { font-size: 10px; }
.track .track__moar table tr:nth-child(even) td { background: #C9C9C9; }
.track .track__moar table tr:nth-child(even) th { background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(201, 201, 201, 0)), color-stop(100%, #c9c9c9)); background-image: -webkit-linear-gradient(left, rgba(201, 201, 201, 0), #c9c9c9); background-image: -moz-linear-gradient(left, rgba(201, 201, 201, 0), #c9c9c9); background-image: -o-linear-gradient(left, rgba(201, 201, 201, 0), #c9c9c9); background-image: -ms-linear-gradient(left, rgba(201, 201, 201, 0), #c9c9c9); background-image: linear-gradient(left, rgba(201, 201, 201, 0), #c9c9c9); }

.season, .episode { height: 26px; line-height: 26px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; color: #ccc; position: relative; margin-left: -9px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #181818)); background-image: -webkit-linear-gradient(top, #3a3a3a, #181818); background-image: -moz-linear-gradient(top, #3a3a3a, #181818); background-image: -o-linear-gradient(top, #3a3a3a, #181818); background-image: -ms-linear-gradient(top, #3a3a3a, #181818); background-image: linear-gradient(top, #3a3a3a, #181818); padding-left: 33px; border-left: 1px solid #3F3F3F; border-top: 1px solid #464646; border-bottom: 1px solid #212222; }
.season label, .episode label { cursor: pointer; }
.season label i, .episode label i { position: absolute; left: 10px; top: 5px; display: inline-block; width: 13px; height: 13px; border: 1px solid #444444; background: #121212; }
.season label input:checked + i b, .episode label input:checked + i b { background: url('../img/queue-s00208e3dc8.png') 0 -88px no-repeat; width: 14px; height: 12px; top: 2px; left: 0px; position: absolute; }
.season:before, .episode:before { content: ' '; position: absolute; left: 0; bottom: -10px; background: url('../img/queue-s00208e3dc8.png') 0 -152px no-repeat; width: 9px; height: 9px; }
.season .season__title, .episode .season__title { text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.7); }
.season .season__collapse, .episode .season__collapse { top: 6px; }
.season input, .episode input { display: none; }

.episode .episode__collapse { top: 6px; }

.loadmore { font-size: 24px; margin-left: 12px; color: #ccc; text-decoration: underline; cursor: pointer; margin-top: 24px; margin-bottom: 15px; }

.overlay { position: fixed; top: 0; left: 0; bottom: 0; right: 0; opacity: 0; z-index: 2000; background: rgba(0, 0, 0, 0.7); -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; -ms-transition: all 500ms linear; -o-transition: all 500ms linear; transition: all 500ms linear; }
.overlay.is-shown { opacity: 1; }

.popup { position: fixed; top: 100px; z-index: 2100; left: 50%; width: 500px; margin-left: -250px; background: #EDEDED; -webkit-transform: translate3d(0, -700px, 0); -moz-transform: translate3d(0, -700px, 0); -ms-transform: translate3d(0, -700px, 0); -o-transform: translate3d(0, -700px, 0); transform: translate3d(0, -700px, 0); -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -ms-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); box-shadow: 0 0 30px black; background-color: #ECECEC; background-image: -webkit-gradient(linear, 50% 0%, 50% 60, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -moz-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -o-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: -ms-linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); background-image: linear-gradient(top, #ffffff 0px, rgba(255, 255, 255, 0) 60px); -moz-background-size: 50px 50px 100%; -webkit-background-size: 50px 50px 100%; background-size: 50px 50px 100%; background-position: 0 100%; }
.popup.is-shown { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.popup .popup__header { background: #404040; border-bottom: 1px solid #353535; border-top: 3px solid #F68667; box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.2); }
.popup .popup__title { text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75); font-family: 'LucidaSans-Demi', Arial, "Helvetica CY",  sans-serif; color: #F7F7F7; -webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(255, 255, 255, 0.6) 70%); font-size: 19px; padding: 14px 0 14px 10px; line-height: 1; }
.popup .popup__close { position: absolute; top: 18px; right: 16px; z-index: 2000; cursor: pointer; background: url('../img/queue-s00208e3dc8.png') 0 -63px no-repeat; width: 15px; height: 15px; }
.popup .popup__content { padding: 14px 10px; }
.popup .popup__bottom { border-top: 1px solid #F8F8F8; box-shadow: 0 -1px 0 #aaaaaa; padding: 14px 0 14px 10px; }
.popup .button { border-radius: 4px; text-decoration: none; }
.popup .button i { background: url('../img/queue-s00208e3dc8.png') 0 -110px no-repeat; width: 15px; height: 13px; vertical-align: middle; margin-right: 0px; display: inline-block; }
.popup .field { margin-bottom: 10px; }
.popup .field:last-child { margin-bottom: 0; }
.popup .field .field__label { display: block; text-transform: uppercase; color: #8A8A8A; margin-bottom: 4px; font-size: 11px; }
.popup .field .field__input { border: 1px solid #CCC; padding: 4px; box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block; width: 100%; }

.topper .topper__logo, .qsearch .qsearch__logo { font: 0/0 a; text-shadow: none; color: transparent; }

.movie { display: inline-block; vertical-align: top; width: 262px; margin: 22px 16px 0 18px; -webkit-transition: 0.3s; }
.movie .movie__more, .movie .movie__less { position: absolute; font-size: 11px; color: #777777; cursor: pointer; text-decoration: underline; display: none; z-index: 50; right: 10px; top: 2px; }
.movie_fade .movie { opacity: .4; }
.movie.movie_current { opacity: 1 !important; }
.movie.movie_current .movie__meta { background: #000; margin: -2px -13px 0 -13px; padding: 2px 13px 0 13px; }
.movie.movie_current .movie__more { display: block; }
.movie .movie__meta { position: relative; -webkit-transition: 0.3s; min-height: 27px; }
.movie .movie__type { color: #777; text-transform: uppercase; position: relative; top: -3px; }
.movie .movie__title { width: 73%; overflow: hidden; text-overflow: ellipsis; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; color: #ccc; text-shadow: 0 -1px 0 black; }
.movie .movie__pic { -webkit-perspective: 1000; -moz-perspective: 1000; -ms-perspective: 1000; -o-perspective: 1000; perspective: 1000; -webkit-transition: 0.6s; cursor: pointer; }
.movie .movie__pic img { width: 262px; height: 173px; box-shadow: 0 0 16px rgba(0, 0, 0, 0.8); display: block; }
.movie .movie__pic:hover .movie__flipper { -webkit-transform: rotate3d(0, 1, 0, 35deg); -moz-transform: rotate3d(0, 1, 0, 35deg); -ms-transform: rotate3d(0, 1, 0, 35deg); -o-transform: rotate3d(0, 1, 0, 35deg); transform: rotate3d(0, 1, 0, 35deg); }
.movie .movie__pic.flipped { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -ms-transform: scale(1.1); -o-transform: scale(1.1); transform: scale(1.1); }
.movie .movie__pic.flipped .movie__flipper { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
.movie .movie__pic .movie__flipper { -webkit-transition: 0.6s; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; position: relative; }
.movie .movie__pic .movie__front, .movie .movie__pic .movie__back { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; position: absolute; top: 0; left: 0; }
.movie .movie__pic .movie__front { background: #ccc; z-index: 2; }
.movie .movie__pic .movie__back { background: #666; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
.movie .movie__pic .movie__back h2 { padding: 20px; color: #ffffff; text-shadow: 0 1px 0 #000; font-size: 19px; font-weight: normal; }
.movie .movie__pic .movie__left { position: absolute; background: #222; z-index: 1; width: 50px; left: -25px; height: 173px; -webkit-transform: rotate3d(0, 1, 0, -90deg) translatex(-25px); -moz-transform: rotate3d(0, 1, 0, -90deg) translatex(-25px); -ms-transform: rotate3d(0, 1, 0, -90deg) translatex(-25px); -o-transform: rotate3d(0, 1, 0, -90deg) translatex(-25px); transform: rotate3d(0, 1, 0, -90deg) translatex(-25px); }
.movie .movie__pic, .movie .movie__front, .movie .movie__back { width: 262px; height: 173px; margin-bottom: 10px; }
.movie .flipped .movie__left { opacity: 0; -webkit-transition: 0.6s; }

@-webkit-keyframes fadeInUp { 0% { opacity: 0; -webkit-transform: translateY(50px); }
  100% { opacity: 1; -webkit-transform: translateY(0); } }

@-webkit-keyframes fadeOutUp { 0% { opacity: 1; -webkit-transform: translateY(0); }
  100% { opacity: 0; -webkit-transform: translateY(-50px); } }

@-webkit-keyframes bounceOut { 0% { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(0.95); }
  50% { opacity: 1; -webkit-transform: scale(1.1); }
  100% { opacity: 0; -webkit-transform: scale(0.3); } }

.animatedShow, .animatedHide { -webkit-animation-duration: 1s; -webkit-animation-fill-mode: both; }

.animatedShow { -webkit-animation-name: fadeInUp; }

.animatedHide { -webkit-animation-name: fadeOutUp; -webkit-animation-duration: .5s; }

.details { opacity: 0; }

.video { position: absolute; left: -15px; top: 0; background: url('../img/icons-s84db68b6bd.png') 0 -983px no-repeat; width: 12px; height: 14px; }
.video.video_short { left: 10px; top: 5px; }

.audio { position: absolute; left: -15px; top: 0; background: url('../img/icons-s84db68b6bd.png') 0 -569px no-repeat; width: 12px; height: 16px; }
.audio.audio_short { left: 10px; top: 5px; }

.sub { position: absolute; left: -15px; top: 0; background: url('../img/icons-s84db68b6bd.png') 0 -1079px no-repeat; width: 14px; height: 11px; }
.sub.sub_short { left: 10px; top: 5px; }

.aspect { font-size: 18px; margin-right: 8px; }

.lang { font-size: 18px; margin-right: 8px; }

.added { text-transform: uppercase; }

.assigned { font-weight: bold; position: relative; }
.assigned select { -webkit-appearance: none; position: absolute; height: 100%; width: 100%; left: 0; top: 0; opacity: 0; z-index: 10; cursor: pointer; }

.status { border: 1px transparent; position: relative; width: 135px; overflow: hidden; color: #363636; margin-left: -4px; }
.status:hover { background: url(../img/icons/arrow_ico.png) no-repeat 122px 8px #353535; border: 1px solid #444; }
.status:hover select { color: #fff; }
.status select { font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; color: #363636; background: transparent; -webkit-appearance: none; border: none; width: 220px; cursor: pointer; }
.status option { background: #353535; color: #fff; }

.details { -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -ms-transform-style: preserve-3d; -o-transform-style: preserve-3d; transform-style: preserve-3d; display: none; color: #363636; font-size: 13px; background: #404040; position: relative; }
.details .details__arr { background: url('../img/icons-s84db68b6bd.png') 0 -869px no-repeat; width: 20px; height: 11px; position: absolute; top: -10px; left: 200px; z-index: 100; }
.details .details__close { background: url('../img/icons-s84db68b6bd.png') 0 -697px no-repeat; width: 15px; height: 15px; position: absolute; right: 20px; top: 20px; cursor: pointer; z-index: 50; }
.details a { text-decoration: underline; color: #404040; }
.details a:hover { text-decoration: none; }
.details .details__title { position: relative; text-shadow: 0 1px 0 black; padding: 11px 20px 8px 20px; border-top: 1px solid #303030; border-bottom: 1px solid #353535; background: #404040; box-shadow: inset 0 26px 20px -20px black; position: relative; z-index: 2; }
.details .details__title h2 { color: #fff; font-weight: normal; font-size: 24px; line-height: 1.5; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; -webkit-mask-image: -webkit-linear-gradient(black 40%, rgba(60, 60, 60, 0.4) 70%); }
.details .details__menu { padding: 10px 0; line-height: 20px; text-align: center; position: relative; font-size: 11px; background: #fbfbfb; box-shadow: inset 0 10px 10px -10px black; }
.details .details__content { position: relative; background: #fbfbfb; }
.details .merge { position: absolute; left: 24px; font-size: 11px; }
.details .merge i { background: url('../img/icons-s84db68b6bd.png') 0 -1283px no-repeat; width: 12px; height: 12px; display: inline-block; vertical-align: middle; margin-right: 5px; }
.details .collapse { position: absolute; right: 24px; font-size: 11px; z-index: 2; cursor: pointer; }
.details .collapse i { background: url('../img/icons-s84db68b6bd.png') 0 -1539px no-repeat; width: 10px; height: 3px; display: inline-block; vertical-align: middle; margin-right: 5px; }
.details .collapse.collapse_this { top: 12px; display: none; text-decoration: underline; }
.details .collapse.collapse_this:hover { text-decoration: none; }

.expand { cursor: pointer; position: absolute; right: 24px; font-size: 11px; z-index: 2; }
.expand i { background: url('../img/icons-s84db68b6bd.png') 0 -1386px no-repeat; width: 9px; height: 9px; display: inline-block; vertical-align: middle; margin-right: 5px; }
.expand.expand_this { top: 12px; text-decoration: underline; }
.expand.expand_this:hover { text-decoration: none; }

.nav_details { vertical-align: middle; }
.nav_details li a { color: #363636; }
.nav_details li a:hover { background-color: rgba(60, 60, 60, 0.8); border: 1px solid #191919; border-radius: 4px 4px 4px 4px; color: #fff; text-decoration: none; }

.entry { border-top: 1px solid #e1e1e1; overflow: hidden; position: relative; padding: 10px 0 10px 12px; }
.entry.selected { background-color: #f1ecdf; }
.entry .entry__metadata { margin-left: 10px; }
.entry .entry__meta { float: left; width: 280px; margin-left: 10px; }
.entry .entry__meta.entry__meta_short { width: 140px; }
.entry .entry__type { display: inline-block; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 14px; color: #252525; position: relative; }
.entry .entry__type label { cursor: pointer; margin-left: 3px; }
.entry .entry__type input { width: 15px; height: 15px; opacity: 0; position: relative; z-index: 2; cursor: pointer; }
.entry .entry__type input:checked + i { background: url('../img/icons-s84db68b6bd.png') 0 -595px no-repeat; width: 15px; height: 15px; }
.entry .entry__type i { position: absolute; background: url('../img/icons-s84db68b6bd.png') 0 -844px no-repeat; width: 15px; height: 15px; left: 0; top: 0; line-height: 16px; }
.entry .entry__date { display: inline-block; text-transform: uppercase; color: #777; font-size: 11px; }
.entry .entry__media { margin: 13px 0 8px; }
.entry .entry__media img { box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4); max-width: 262px; min-height: 172px; }
.entry .entry__media.entry__media_short img { max-width: 131px; min-height: 87px; }
.entry .entry__comments { font-size: 18px; margin-left: 1px; }
.entry .entry__comments a { text-decoration: none; }
.entry .entry__comments a:hover { text-decoration: underline; }
.entry .entry__comments i { background: url('../img/icons-s84db68b6bd.png') 0 -1144px no-repeat; width: 12px; height: 12px; display: inline-block; vertical-align: middle; margin-right: 10px; }
.entry .entry__comments .comments__count { font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; margin-left: 10px; }
.entry .entry__info { overflow: hidden; padding: 10px 0 0 15px; }
.entry .entry__expand { position: relative; width: 100%; text-align: left; margin-bottom: 2em; }
.entry .entry__expand th { text-transform: uppercase; font-size: 11px; color: #777; height: 19px; padding-left: 5px; }
.entry .entry__expand tr:nth-child(2n) { background-color: #e1e1e1; }
.entry .entry__expand td { padding-left: 5px; height: 25px; vertical-align: middle; width: 20%; }
.entry .entry__expand td:first-child { white-space: nowrap; }
.entry .entry__expand.entry__expand_short { background: none; display: block; padding-top: 3px; padding-left: 10px; position: relative; }
.entry .entry__expand.entry__expand_short td { display: none; padding-left: 15px; }
.entry .entry__expand.entry__expand_short tr, .entry .entry__expand.entry__expand_short thead, .entry .entry__expand.entry__expand_short tbody { display: inline-block; background: transparent !important; }
.entry .entry__expand.entry__expand_short tr td:first-child, .entry .entry__expand.entry__expand_short tr th:first-child { display: inline-block; white-space: nowrap; vertical-align: middle; }
.entry .entry__expand.entry__expand_short tr th { font-size: 0; padding-left: 0; display: none; }
.entry .entry__expand.entry__expand_short-bg { background: #e1e1e1; }

.dialog { margin: 5% 0 0 35%; padding: 17px 0; box-shadow: 0 0 10px black; width: 466px; background: url(../img/dialog_bg.png); font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; line-height: 1.2; }

.dialog__notice { padding: 0 13px 29px 13px; line-height: 1.3; }
.dialog__notice h2 { font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 18px; color: #ccc; font-weight: normal; margin-bottom: 0.3em; }
.dialog__notice p { color: #777; }

.dialog__versions { overflow: hidden; padding: 0 13px 25px; width: 440px; border-bottom: 1px solid #515151; position: relative; }

.dialog__col { display: table-cell; width: 180px; }

.dialog__or { display: table-cell; text-align: center; width: 80px; vertical-align: middle; }
.dialog__or span { text-transform: uppercase; font-size: 13px; color: #777; }
.dialog__or span:before { content: ""; position: absolute; top: 0; right: 50%; background-color: #515151; width: 1px; height: 38%; }
.dialog__or span:after { content: ""; position: absolute; bottom: 20px; right: 50%; background-color: #515151; width: 1px; height: 38%; }

.dialog__meta { margin-bottom: 1.4em; }

.dialog__type { color: #fff; font-size: 14px; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; }

.dialog__data { color: #777; text-transform: uppercase; font-size: 11px; }

.dialog__info { position: relative; margin-left: 20px; }

.dialog__attribute { position: relative; color: #aaa; text-transform: uppercase; margin-bottom: 0.5em; font-size: 11px; }
.dialog__attribute .sub, .dialog__attribute .video, .dialog__attribute .audio { position: absolute; left: -20px; top: 1px; }
.dialog__attribute .sub { background: url('../img/icons-s84db68b6bd.png') 0 -1351px no-repeat; width: 14px; height: 10px; }
.dialog__attribute .video { background: url('../img/icons-s84db68b6bd.png') 0 -1166px no-repeat; width: 12px; height: 13px; }
.dialog__attribute .audio { background: url('../img/icons-s84db68b6bd.png') 0 -819px no-repeat; width: 12px; height: 15px; }

.dialog__sound { color: #fff; font-size: 13px; margin-bottom: 0.5em; }

.dialog__assigned { margin-bottom: 1em; color: #ccc; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; }

.dialog__status { margin-bottom: 1em; color: #ccc; font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; }

.btn { border: 1px solid #000; border-radius: 4px; padding: 2px 16px; color: #ccc; font-size: 12px; text-decoration: none; font-family: Tahoma, "Geneva CY", sans-serif; text-shadow: 0 -1px 1px black; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #717171), color-stop(100%, #282828)); background-image: -webkit-linear-gradient(#717171, #282828); background-image: -moz-linear-gradient(#717171, #282828); background-image: -o-linear-gradient(#717171, #282828); background-image: -ms-linear-gradient(#717171, #282828); background-image: linear-gradient(#717171, #282828); }
.btn:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282828), color-stop(100%, #717171)); background-image: -webkit-linear-gradient(#282828, #717171); background-image: -moz-linear-gradient(#282828, #717171); background-image: -o-linear-gradient(#282828, #717171); background-image: -ms-linear-gradient(#282828, #717171); background-image: linear-gradient(#282828, #717171); text-shadow: 0 1px 1px black; color: #ccc; }

.dialog__cancel { text-align: center; margin-top: 14px; }
