@import "lib/base";

// MOVIE

.movie{
	display: inline-block;
	vertical-align: top;
	width: 262px;
	margin: 22px 16px 0 18px;
	-webkit-transition: 0.3s;
	.movie__more,.movie__less{
		position: absolute;
		font-size: 11px;
		color: #777777;
		cursor: pointer;
		text-decoration: underline;
		display: none;
		z-index: 50;
		right: 10px;
		top: 2px;
	}
	.movie_fade &{
		opacity: .4;
	}
	&.movie_current{
		opacity: 1 !important;
		.movie__meta{
			background: #000;
			margin: -2px -13px 0 -13px;
			padding: 2px 13px 0 13px;
		}
		.movie__more{
			display: block;
		}
	}
	.movie__meta{
		position: relative;
		-webkit-transition: 0.3s;
		min-height: 27px;
	}
	.movie__type{
		color: #777;
		text-transform: uppercase;
		position: relative;
		top: -3px;
	}
	.movie__title{
		//margin: 2px 0;
		width: 73%;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 13px;
		color: #ccc;
		text-shadow: 0 -1px 0 #000;
// 		-webkit-transition: 0.3s;
	}
	.movie__pic {
		@include perspective(1000);
		
		-webkit-transition: 0.6s;
		cursor: pointer;
		img{
			width: 262px;
			height: 173px;
			box-shadow:0 0 16px rgba(#000, .8);
			display: block;
		}
		&:hover{
			.movie__flipper{
				@include transform(rotate3d(0,1,0,35deg))
			}
		}
		&.flipped{
			@include transform(scale(1.1));
			.movie__flipper{
				@include transform(rotateY(180deg))
			}
		}
		.movie__flipper {
			-webkit-transition: 0.6s;
			@include transform-style(preserve-3d);
			position: relative;
		}
		 .movie__front, .movie__back {
			@include backface-visibility(hidden);
			position: absolute;
			top: 0;
			left: 0;
		 }
		.movie__front {
			background: #ccc;
			z-index: 2;
		}
		.movie__back {
			background: #666;
			@include transform(rotateY(180deg));
			h2{
				padding: 20px;
				color: #ffffff;
				text-shadow: 0 1px 0 #000;
				font-size: 19px;
				font-weight: normal;
			}
		}
		.movie__left{
			position: absolute;
			background: #222;
			z-index: 1;
			width: 50px;
			left: -25px;
			height: 173px;
			@include transform(rotate3d(0,1,0,-90deg) translatex(-25px));
		}
	}
	.movie__pic, .movie__front, .movie__back {
		width: 262px;
		height: 173px;
		margin-bottom: 10px;
	}
	.flipped .movie__left{
		opacity:0;
		-webkit-transition: 0.6s;
	}
}




//animations
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(50px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: translateY(-50px);
	}
}
@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
	}
	25% {
		-webkit-transform: scale(.95);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
}
.animatedShow,.animatedHide{
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
}
.animatedShow{
	-webkit-animation-name: fadeInUp;
}
.animatedHide{
	-webkit-animation-name: fadeOutUp;
	-webkit-animation-duration: .5s;
}
.details{
	opacity: 0;
}

.video{
	position: absolute;
	left: -15px;
	top: 0;
	@include sized-sprite($icons, video_ico);
	&.video_short{
		left: 10px;
		top: 5px;
	}
}
.audio{
	position: absolute;
	left: -15px;
	top: 0;
	@include sized-sprite($icons, audio_ico);
	&.audio_short{
		left: 10px;
		top: 5px;
	}
}
.sub{
	position: absolute;
	left: -15px;
	top: 0;
	@include sized-sprite($icons, sub_ico);
	&.sub_short{
		left: 10px;
		top: 5px;
	}
}
.aspect{
	@extend %mono;
	font-size: 18px;
	margin-right: 8px;
}
.lang{
	@extend %mono;
	font-size: 18px;
	margin-right: 8px;
}
.added{
	text-transform: uppercase;
}
.assigned{
	font-weight: bold;
	position: relative;
	select{
		-webkit-appearance:none;
		position: absolute;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: 10;
		cursor: pointer;
	}
}

//FORM STATUS
.status{
	border: 1px transparent;
	position: relative;
	width: 135px;
	overflow: hidden;
	color: #363636;
	margin-left: -4px;
	&:hover{
		background: url(../img/icons/arrow_ico.png) no-repeat 122px 8px #353535;
		border: 1px solid #444;
		select{
			color: #fff;
		}
	}
	select{
		font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 13px;
		color: #363636;
		background: transparent;
		-webkit-appearance: none;
		border: none;
		width: 220px;
		cursor: pointer;
	}
	option{
		background: #353535;
		color: #fff;
	}
}

//DETAILS
.details{
	@include transform-style(preserve-3d);
	display: none;
	color: #363636;
	font-size: 13px;
	background: #404040;
	position: relative;
	.details__arr{
		@include sized-sprite($icons, arrtop);
		position: absolute;
		top: -10px;
		left: 200px;
		z-index: 100;
	}
	.details__close{
		@include sized-sprite($icons, btn_close);
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
		z-index: 50;
	}
	a{
		text-decoration: underline;
		color: #404040;
		&:hover{
			text-decoration: none;
		}
	}
	.details__title{
		position: relative;
		text-shadow: 0 1px 0 black;
		padding: 11px 20px 8px 20px;
		border-top: 1px solid #303030;
		border-bottom: 1px solid #353535;
		background: #404040;
		box-shadow:inset 0 26px 20px -20px #000;
		position: relative;
		z-index: 2;
		h2{
			color: #fff;
			font-weight: normal;
			font-size: 24px;
			line-height: 1.5;
			font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			-webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1) 40%, rgba(60,60,60,0.4) 70%);
		}
	}
	.details__menu{
		padding: 10px 0;
		line-height: 20px;
		text-align: center;
		position: relative;
		font-size: 11px;
		background: #fbfbfb;
		box-shadow:inset 0 10px 10px -10px rgba(#000,1);
	}
	.details__content{
		position: relative;
		background: #fbfbfb;
	}
	.merge{
		position: absolute;
		left: 24px;
		font-size: 11px;
		i{
			@include sized-sprite($icons, merge_ico);
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	.collapse{
		position: absolute;
		right: 24px;
		font-size: 11px;
		z-index: 2;
		cursor: pointer;
		i{
			@include sized-sprite($icons, collapse_ico);
			display: inline-block;
			vertical-align: middle;
			margin-right: 5px;
		}
		&.collapse_this{
			top: 12px;
			display: none;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.expand{
	cursor: pointer;
	position: absolute;
	right: 24px;
	font-size: 11px;
	z-index: 2;
	i{
		@include sized-sprite($icons, expand_ico);
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	&.expand_this{
		top: 12px;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
//nav_details
.nav_details{
	vertical-align: middle;
	li{
		a{
			color: #363636;
			&:hover{
				background-color: rgba(60, 60, 60, 0.8);
				border: 1px solid #191919;
				border-radius: 4px 4px 4px 4px;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}


//entry
.entry{
	border-top: 1px solid #e1e1e1;
	overflow: hidden;
	position: relative;
	padding: 10px 0 10px 12px;
	&.selected{
		background-color: #f1ecdf;
	}

	//entry__metadata
	.entry__metadata{
		margin-left: 10px;
	}
	//entry__meta
	.entry__meta{
		float: left;
		width: 280px;
		margin-left: 10px;
		&.entry__meta_short{
			width: 140px;
		}
	}
	//entry__type
	.entry__type{
		display: inline-block;
		font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 14px;
		color: #252525;
		position: relative;
		label{
			cursor: pointer;
			margin-left: 3px;
		}
		input{
			width: 15px;
			height: 15px;
			opacity: 0;
			position: relative;
			z-index: 2;
			cursor: pointer;
		}
			input:checked + i{
					@include sized-sprite($icons, input_checked_ico);
				}
		i{
			position: absolute;
			@include sized-sprite($icons, input_ico);
			left: 0;
			top: 0;
			line-height: 16px;
		}
	}
	//entry__date
	.entry__date{
		display: inline-block;
		text-transform: uppercase;
		color: #777;
		font-size: 11px;
	}
	//entry__media
	.entry__media{
		margin: 13px 0 8px;
		img{
			box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
			max-width: 262px;
			min-height: 172px;
		}
		&.entry__media_short{
			img{
				max-width: 131px;
				min-height: 87px;
			}
		}
	}
	.entry__comments{
		@extend %mono;
		font-size: 18px;
		margin-left: 1px;
		a{
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		i{
			@include sized-sprite($icons, comment_ico);
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}
		.comments__count{
			font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
			font-size: 13px;
			margin-left: 10px;
		}
	}

	//entry__info
	.entry__info{
		overflow: hidden;
		padding: 10px 0 0 15px;
	}
	//entry__expand
	.entry__expand{
		position: relative;
		width: 100%;
		text-align: left;
		margin-bottom: 2em;
		th{
			text-transform: uppercase;
			font-size: 11px;
			color: #777;
			height: 19px;
			padding-left: 5px;
		}
		tr:nth-child(2n){
			background-color: #e1e1e1;
		}
		td{
			padding-left: 5px;
			height: 25px;
			vertical-align: middle;
			width: 20%;
			&:first-child{
				white-space: nowrap;
			}
		}

		//entry__expand_short
		&.entry__expand_short{
			background: none;
			display: block;
			padding-top: 3px;
			padding-left: 10px;
			position: relative;
			td{
				display: none;
				padding-left: 15px;

			}
			tr,thead,tbody{
				display: inline-block;
				background: transparent !important;

			}
			tr{
				td,th{
					&:first-child{
						display: inline-block;
						white-space:nowrap;
						vertical-align: middle;
					}
				}
				th{
					font-size: 0;
					padding-left: 0;
					display: none;
				}
			}
		}
		&.entry__expand_short-bg{
			background: #e1e1e1;
		}
	}
}
//dialog
.dialog{
	margin: 5% 0 0 35%; //tmp
	padding: 17px 0;
	box-shadow: 0 0 10px black;
	width: 466px;
	background: url(../img/dialog_bg.png);
	font-family: 'LucidaSans', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	font-size: 13px;
	line-height: 1.2;
}
//dialog__notice
.dialog__notice{
	padding: 0 13px 29px 13px;
	line-height: 1.3;
	h2{
		font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 18px;
		color: #ccc;
		font-weight: normal;
		margin-bottom: 0.3em;
	}
	p{
		color: #777;
	}
}

//dialog__versions
.dialog__versions{
	overflow: hidden;
	padding: 0 13px 25px;
	width: 440px;
	border-bottom: 1px solid #515151;
	position: relative;
}

	.dialog__col{
		display: table-cell;
		width: 180px;
	}
	.dialog__or{
		display: table-cell;
		text-align: center;
		width: 80px;
		vertical-align: middle;
		span{
			text-transform: uppercase;
			font-size: 13px;
			color: #777;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 50%;
				background-color: #515151;
				width: 1px;
				height: 38%;
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 20px;
				right: 50%;
				background-color: #515151;
				width: 1px;
				height: 38%;
			}
		}
	}
	//dialog__meta
	.dialog__meta{
		margin-bottom: 1.4em;
	}
	//dialog__type
	.dialog__type{
		color: #fff;
		font-size: 14px;
		font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	}

	//dialog__data
	.dialog__data{
		color: #777;
		text-transform: uppercase;
		font-size: 11px;
	}

	//dialog__info
	.dialog__info{
		position: relative;
		margin-left: 20px;
	}
		//dialog__attribute
		.dialog__attribute{
		position: relative;
		color: #aaa;
		text-transform: uppercase;
		margin-bottom: 0.5em;
		font-size: 11px;
			.sub,
			.video,
			.audio{
				position: absolute;
				left: -20px;
				top: 1px;
			}
				.sub{@include sized-sprite($icons, sub_shd_ico);}
				.video{@include sized-sprite($icons, video_shd_ico);}
				.audio{@include sized-sprite($icons, audio_shd_ico);}
		}

		//dialog__sound
		.dialog__sound{
			color: #fff;
			font-size: 13px;
			margin-bottom: 0.5em;
		}

		//dialog__assigned
		.dialog__assigned{
			margin-bottom: 1em;
			color: #ccc;
			font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		}

		.dialog__status{
			margin-bottom: 1em;
			color: #ccc;
			font-family: 'LucidaSans-Demi', Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		}

		//btn
		.btn{
			border: 1px solid #000;
			border-radius: 4px;
			padding: 2px 16px;
			color: #ccc;
			font-size: 12px;
			text-decoration: none;
			font-family: Tahoma, "Geneva CY", sans-serif;
			text-shadow: 0 -1px 1px black;
			@include background-image(linear-gradient(#717171, #282828));
			&:hover{
				@include background-image(linear-gradient(#282828, #717171));
				text-shadow: 0 1px 1px black;
				color: #ccc;
			}
		}

		//dialog__cancel
		.dialog__cancel{
			text-align: center;
			margin-top: 14px;
		}